<div class="ali_login_cont">
    <div class="ali_er_form">
        <div el-row>
            <div el-col span="10">
                <span style="font-size:18px;font-weight:bold;">账号登录</span>
            </div>
            <div el-col span="14">
                <p style="text-align:right;"><a routerLink="/register" style="color:#20A0FF;">免费注册>></a></p>
            </div>
        </div>
        <div el-row>
            <div el-col span="24" class="ali_from">
                <input type="text" #userName placeholder="手机号／邮箱" class="el-input__inner" />
                <i class="icon iconfont icon-group"></i>
            </div>
        </div>
        <div el-row>
            <div el-col span="24" class="ali_from">
                <input type="password" #passWord placeholder="密码" auto-complete="off" class="el-input__inner" />
                <i class="icon iconfont icon-lock"></i>
            </div>
        </div>
        <div el-row class="no_marginbottom">
            <div el-col span="24">
                <el-button type="primary" style="width:100%;" (click)="loginSubmit(userName.value, passWord.value)">登 录</el-button>
            </div>
        </div>
        <p style="text-align:right;"><a href="#" style="color:#20A0FF;">忘记密码？</a></p>
    </div>
</div>