<div class="ali_body">
    <div class="ali_bodycont">
        <div el-row class="ali_serach">
            <div el-col span="14">
                <el-input [model]="input" placeholder="请输入内容" [ngStyle]="{'border-radius':'0px'}"></el-input>
            </div>
            <div el-col span="4">
                <el-select [model]="value" placeholder="请选择" (modelChange)="handle($event)">
                    <el-option *ngFor="let item of cityList" [label]="item.label" [value]="item.value">
                    </el-option>
                </el-select>
            </div>
            <div el-col span="4">
                <el-button type="primary" icon="search" (click)="clear()">搜索</el-button>
            </div>
        </div>
        <div el-row class="ali_tips">
            热门标签：
            <span>Java</span>
            <span>PHP</span>
            <span>C++</span>
            <span>前端开发</span>
            <span>IOS</span>
            <span>安卓</span>
            <span>运营</span>
            <span>测试</span>
        </div>

        <div class="ali_maintab">
            <el-button-group>
                <el-button>招 聘</el-button>
                <el-button>项 目</el-button>
                <el-button>培 训</el-button>
            </el-button-group>
            <el-card class="box-card">
                <div el-row>
                    <div el-col span="4">
                        <div class="ali_li el-icon-menu">技术</div>
                        <ul class="ali_li-list">
                            <li><a href="#">Java(2678)</a></li>
                            <li><a href="#">PHP(678678)</a></li>
                            <li><a href="#">C++(65765)</a></li>
                            <li><a href="#">安卓(89798)</a></li>
                            <li><a href="#">算法(678)</a></li>
                            <li> <a href="#">人工智能(2456)</a></li>
                        </ul>
                    </div>
                    <div el-col span="4">
                        <div class="ali_li el-icon-menu">产品</div>
                        <ul class="ali_li-list">
                            <li><a href="#">Java(2678)</a></li>
                            <li><a href="#">PHP(678678)</a></li>
                            <li><a href="#">C++(65765)</a></li>
                            <li><a href="#">安卓(89798)</a></li>
                            <li><a href="#">算法(678)</a></li>
                            <li> <a href="#">人工智能(2456)</a></li>
                        </ul>
                    </div>
                    <div el-col span="4">
                        <div class="ali_li el-icon-menu">设计</div>
                        <ul class="ali_li-list">
                            <li><a href="#">Java(2678)</a></li>
                            <li><a href="#">PHP(678678)</a></li>
                            <li><a href="#">C++(65765)</a></li>
                            <li><a href="#">安卓(89798)</a></li>
                            <li><a href="#">算法(678)</a></li>
                            <li> <a href="#">人工智能(2456)</a></li>
                        </ul>
                    </div>
                    <div el-col span="4">
                        <div class="ali_li el-icon-menu">运营</div>
                        <ul class="ali_li-list">
                            <li><a href="#">Java(2678)</a></li>
                            <li><a href="#">PHP(678678)</a></li>
                            <li><a href="#">C++(65765)</a></li>
                            <li><a href="#">安卓(89798)</a></li>
                            <li><a href="#">算法(678)</a></li>
                            <li> <a href="#">人工智能(2456)</a></li>
                        </ul>
                    </div>
                    <div el-col span="4">
                        <div class="ali_li el-icon-menu">市场与销售</div>
                        <ul class="ali_li-list">
                            <li><a href="#">Java(2678)</a></li>
                            <li><a href="#">PHP(678678)</a></li>
                            <li><a href="#">C++(65765)</a></li>
                            <li><a href="#">安卓(89798)</a></li>
                            <li><a href="#">算法(678)</a></li>
                            <li> <a href="#">人工智能(2456)</a></li>
                        </ul>
                    </div>
                    <div el-col span="4">
                        <div class="ali_li el-icon-menu">金融</div>
                        <ul class="ali_li-list">
                            <li><a href="#">Java(2678)</a></li>
                            <li><a href="#">PHP(678678)</a></li>
                            <li><a href="#">C++(65765)</a></li>
                            <li><a href="#">安卓(89798)</a></li>
                            <li><a href="#">算法(678)</a></li>
                            <li> <a href="#">人工智能(2456)</a></li>
                        </ul>
                    </div>
                </div>
            </el-card>
        </div>

        <div class="ali_list">
            <el-card class="box-card">
                <div el-row class="ali_card-list">
                    <div el-col span="18">
                        <p class="ali_zwname">Web前端开发工程师</p>
                        <p class="ali_zwmoney">20K-40K</p>
                        <ul class="ali_text_list">
                            <li>1、与产品、设计、后端工程师一起产出相关产品</li>
                            <li>2、抽象通用功能组建，开发基础工具，提高团队效率</li>
                            <li>3、参与产品设计讨论，从前端技术角度给予反馈并评估可行性</li>
                            <li>4、参与并实践 code review，提高自身与团队能力水平</li>
                        </ul>
                        <p class="ali_addlist"><span>上梅林</span> | <span>3-5年</span> | <span>大专</span></p>
                    </div>
                    <div el-col span="6">
                        <p class="ali_comname">万科物业</p>
                        <p class="ali_text"><span>O2O, 生活服务</span> | <span>2000人以上</span></p>
                        <p>
                            <el-button type="warning">申请职位</el-button>
                        </p>
                    </div>
                </div>
            </el-card>
            <el-card class="box-card">
                <div el-row class="ali_card-list">
                    <div el-col span="18">
                        <p class="ali_zwname">项目策划 </p>
                        <p class="ali_zwmoney">10K-15K</p>
                        <ul class="ali_text_list">
                            <li>1、与产品、设计、后端工程师一起产出相关产品</li>
                            <li>2、抽象通用功能组建，开发基础工具，提高团队效率</li>
                            <li>3、参与产品设计讨论，从前端技术角度给予反馈并评估可行性</li>
                            <li>4、参与并实践 code review，提高自身与团队能力水平</li>
                        </ul>
                        <p class="ali_addlist"><span>坂田</span> | <span>1-3年</span> | <span>不限</span></p>
                    </div>
                    <div el-col span="6">
                        <p class="ali_comname">沃菲数字营销</p>
                        <p class="ali_text"><span>广告营销,企业服务</span> | <span>50-150人</span></p>
                        <p>
                            <el-button type="warning">申请职位</el-button>
                        </p>
                    </div>
                </div>
            </el-card>
            <el-card class="box-card">
                <div el-row class="ali_card-list">
                    <div el-col span="18">
                        <p class="ali_zwname">产品经理 </p>
                        <p class="ali_zwmoney">15K-30K</p>
                        <ul class="ali_text_list">
                            <li>负责内部各部门及平台商务拓展、合作洽谈、关系维护等相关工作；</li>
                            <li>负责内部资源协调及整合，及合作策划&方案撰写、推动及落地等相关工作；</li>
                            <li>负责不同团队之间的沟通和协调工作，推动跨团队合作项目发展；</li>
                            <li>主要攻克游戏项目的深度合作，及合作策划&方案撰写、推动及落地等相关工作。</li>
                        </ul>
                        <p class="ali_addlist"><span>深圳</span> | <span>1-3年</span> | <span>本科及以上</span></p>
                    </div>
                    <div el-col span="6">
                        <p class="ali_comname">腾讯</p>
                        <p class="ali_text"><span>移动互联网,游戏</span> | <span>上市公司</span></p>
                        <p>
                            <el-button type="warning">申请职位</el-button>
                        </p>
                    </div>
                </div>
            </el-card>
            <el-card class="box-card">
                <div el-row class="ali_card-list">
                    <div el-col span="18">
                        <p class="ali_zwname">汽车网-销售主任J10772 </p>
                        <p class="ali_zwmoney">10K-25K</p>
                        <ul class="ali_text_list">
                            <li>1、与产品、设计、后端工程师一起产出相关产品</li>
                            <li>2、抽象通用功能组建，开发基础工具，提高团队效率</li>
                            <li>3、参与产品设计讨论，从前端技术角度给予反馈并评估可行性</li>
                            <li>4、参与并实践 code review，提高自身与团队能力水平</li>
                        </ul>
                        <p class="ali_addlist"><span>南山</span> | <span>1-3年</span> | <span>大专</span></p>
                    </div>
                    <div el-col span="6">
                        <p class="ali_comname">太平洋网络有限公司</p>
                        <p class="ali_text"><span>电子商务, 生活服务</span> | <span>500-2000人</span></p>
                        <p>
                            <el-button type="warning">申请职位</el-button>
                        </p>
                    </div>
                </div>
            </el-card>
            <el-card class="box-card">
                <div el-row class="ali_card-list">
                    <div el-col span="18">
                        <p class="ali_zwname">二类电商广告优化</p>
                        <p class="ali_zwmoney">10K-15K</p>
                        <ul class="ali_text_list">
                            <li>1、与产品、设计、后端工程师一起产出相关产品</li>
                            <li>2、抽象通用功能组建，开发基础工具，提高团队效率</li>
                            <li>3、参与产品设计讨论，从前端技术角度给予反馈并评估可行性</li>
                            <li>4、参与并实践 code review，提高自身与团队能力水平</li>
                        </ul>
                        <p class="ali_addlist"><span>福田</span> | <span>3-5年</span> | <span>大专及以上</span></p>
                    </div>
                    <div el-col span="6">
                        <p class="ali_comname">渡渡鸟</p>
                        <p class="ali_text"><span>天使轮</span> | <span>2000人以上</span></p>
                        <p>
                            <el-button type="warning">申请职位</el-button>
                        </p>
                    </div>
                </div>
            </el-card>
        </div>

    </div>
</div>