<div class="pmain">
  <!--推荐职位-->
  <el-card class="box-card p_card_l">
    <ng-template #header>
      <div class="clearfix">
        <span class="p_title">职位管理</span>
      </div>
    </ng-template>
    <div>
      <div el-row class="search_list">
        <div el-col span="8"><div class="grid-content bg-purple"></div></div>
        <div el-col span="8"><div class="grid-content bg-purple-light"></div></div>
        <div el-col span="8"><div class="grid-content bg-purple"></div></div>
      </div>
    </div>
  </el-card>
</div>
