.ali_join_left {
    background: #f8f9fb;
    padding: 20px;
}

.ali_lcard ul {
    padding: 10px 0;
}

.ali_lcard ul li {
    display: inline-block;
    margin-right: 15px;
    line-height: 2;
}

.ali_join_right {
    padding-left: 20px;
}