/* You can add global styles to this file, and also import other style files */

@import "~element-angular/theme/index.css";
@import "./assets/fonts/iconfont.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea {
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}

body {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
    color: #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-size: 100%;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #666;
    background: none
}

a:hover {
    color: #20A0FF;
}

ul,
ol {
    list-style: none;
}

:focus {
    outline: none;
}

.clearfix {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ds_inline {
    display: inline-block;
}


/*head*/

.ali_head {
    width: 100%;
    min-width: 1200px;
    height: 80px;
    border-bottom: 1px solid #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}


/*cont*/

.ali_cont {
    width: 1200px;
    margin: 0 auto;
}

.ali_logo {
    font-size: 36px;
    color: #1D8CE0;
    line-height: 80px;
    display: inline-block;
}

.ali_logo:hover {
    cursor: pointer;
}


/*注册登陆*/

.ali_login_cont {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 550px;
    background: url(/assets/images/login_bg.jpg) no-repeat center center;
    background-size: cover;
}

.ali_er_form {
    position: absolute;
    top: 60px;
    right: 100px;
    width: 300px;
    padding: 10px 30px 60px 30px;
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: 0 0 10px rgba(237, 239, 241, .5);
}

.ali_er_form .el-row {
    line-height: 36px;
    margin: 15px 0 20px 0;
}

.no_marginbottom {
    margin-bottom: 8px!important;
}

.ali_from {
    position: relative;
}

.ali_from .el-input__inner {
    padding-left: 36px;
}

.ali_from .icon {
    position: absolute;
    top: 2px;
    left: 10px;
    color: #999;
}

.ali_tips {
    margin: 10px 0 15px 0;
}

.ali_tips span {
    margin-right: 10px!important;
}


/*menu*/

.el-menu {
    background: none;
}

.el-menu--horizontal .el-menu-item {
    height: 82px;
    line-height: 82px;
}

.el-menu-item,
.el-submenu__title {
    padding: 0;
}

.el-menu--horizontal .el-menu-item a {
    display: block;
    height: 82px;
    padding: 0 30px;
}

.el-menu--horizontal>.el-menu-item.is-active,
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    border-bottom: 4px solid #20A0FF;
    color: #20A0FF;
}

.el-menu--horizontal>.el-menu-item:hover,
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
.el-menu--horizontal>.el-submenu:hover .el-submenu__title {
    border-bottom: 4px solid #20A0FF;
    background: none;
    color: #878d99;
}

.user_seting {
    line-height: 80px;
    text-align: right;
    color: #666;
}

.user_seting a:hover {
    cursor: pointer;
}

.el-col {
    min-height: 1px;
}

.el-menu--horizontal {
    border: none;
}


/*body*/

.ali_body {
    width: 100%;
    min-width:1200px;
    background: #f2f2f4;
    padding: 30px 0;
}

.ali_bodycont {
    width: 1200px;
    margin: 0 auto;
    color: #999;
}

.ali_serach .el-input__inner,
.ali_serach .el-button {
    border-radius: 0;
}

.ali_bodycont span {
    margin: 0 3px;
}

.ali_maintab {
    margin: 25px 0;
}

.ali_maintab .el-button,
.ali_maintab .el-card {
    border-radius: 0;
    margin-top: -1px;
}

.ali_pages {
    text-align: center;
    margin: 25px auto;
}

.el-card {
    margin-bottom: 5px;
}

.el-button--warning {
    background: #f07c0f;
    border-color: #f07c0f;
}


/*foot*/

.ali_foot {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666;
}

input:-webkit-autofill {
    background-image: none;
    box-shadow: 0 0 0 1000px #fafcfd inset;
}

.el-collapse-item__header,
.el-collapse-item__wrap {
    background: none;
    color: #666;
}

.el-collapse {
    border-top: none;
}

.ali_li {
    width: 163px;
    height: 38px;
    margin: 10px 15px;
    background: #fee409;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}

ul.ali_li-list {
    line-height: 25px;
    width: 133px;
    margin: 0 30px;
}

.ali_list .ali_card-list {
    padding: 10px 20px;
}

.ali_zwname {
    font-size: 24px;
    font-weight: bold;
}

.ali_zwmoney {
    font-size: 18px;
    margin: 5px 0 15px 0;
    color: #F7BA2A;
}

.ali_text_list {
    line-height: 22px;
}

.ali_addlist {
    margin-top: 15px;
    font-size: 18px;
}

.ali_comname {
    font-size: 20px;
    margin-top: 65px;
    color: #666;
}

.ali_text {
    margin: 10px 0 20px 0;
    font-size: 16px;
}

.el-checkbox__label {
    font-size: 12px;
}

.el-checkbox+.el-checkbox {
    margin-left: 10px;
}

.ali_bodycont span {
    margin: 0;
}

.serach_result {
    margin-top: 10px;
}

.ali_select_list {
    line-height: 28px;
    color: #333;
}
